a {
    color: #b33a3a;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: #FF5733;
    text-decoration: underline;
}
body {
    background: radial-gradient(circle, #ff4343, #8d2424);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
code {
    font-family: "Courier New", monospace;
    background-color: #bba2a2;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 2%;
}
img {
    width: 14.5%;
    height: 5%;
    margin-top: 1%;
    margin-left: 10%;
    padding: 0.5%;
}
.alinhamento {
    margin: 2% 10%;
}
.borda {
    border: solid black;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.container {
    padding: auto;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 10%;
}
.customScrollbar {
    overflow-y: scroll;
    scrollbar-width: 1px;
    scrollbar-color: transparent transparent;
    max-height: 100vh;
}
.customScrollbar::-webkit-scrollbar {
    width: 6px;
}
.firstText {
    border-left: 0.3em solid #b33a3a;
    padding-left: 1%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 5%;
}
.fomatText {
    color: #460909;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    line-height: 1.2;
    letter-spacing: 0.25px;
    text-align: justify;
}
.sectionAprensentacao {
    width: 100%;
    margin-top: 3.7%;
    display: flex;
    justify-content: center;
}

.secondText {
    margin-top: 0.5%;
    padding-top: 1.5%;
    padding-left: 2%;
}

.thirdText {
    line-height: 2.5vw;
    padding: 0.5% 2%;
}

@media(max-width: 1080px) {
    .sectionAprensentacao {
        display: flex;
        flex-direction:flex;
        margin-top: 10%;
    }

    img {
        width: 25%;
        height: 25%;
        margin-top: 5%;
        margin-left: 10%;
        padding: 0.5%;
    }
    code{
        font-size: 2.5vw;
        margin: 1%;
    }
    .alinhamento{
        margin: 5% 10%;
    }
    .container{
        padding: 1% 2%;
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 10%;
    }
    .customScrollbar {
        overflow-y: auto;
    }
    .fomatText {
        font-size: 2vw;
        line-height: 1.2;
        letter-spacing: 0.25px;
    }
    .firstText {
        border-left: 0.3em solid #b33a3a;

    }
    .secondText{
        text-align: center;
        margin: 2% 5%;
        padding: 1%;
        font-size: 3vw;
    }
    .thirdText{
        line-height: 2;
        font-size: 3vw;
        text-align: center;
    }

}
@media (max-width: 900px) {
    .sectionAprensentacao {
        display: flex;
        flex-direction: column;
    }
    body{
        overflow: auto;
    }
    main{
        margin-top: 16%;
    }
    img {
        width: 30%;
        height: 30%;
        margin: 5% auto;
        padding: 0.5%;
    }
    code{
        font-size: 2.3vw;
        margin: 1%;
    }
    .borda {
        border: 2px solid black;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
    .container{
        padding: 2% 5%;
        margin: 2.5% 10%;
    }
    .customScrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .fomatText {
        font-size: 3vw;
        line-height: 1.2;
        letter-spacing: 0.25px;
    }
    .firstText {
        border-left: 0.3em solid #b33a3a;
        margin: 4% -2%;
    }
    .secondText{
        text-align: center;
        margin: 2% 5%;
        padding: 2%;
        font-size: 3vw;
    }
    .thirdText{
        line-height: 2;
        font-size: 3vw;
        text-align: center;
    }

}